body {
    background-color: #ECECEC;
    padding: 0;
    margin: 0;
}
header{
    margin: auto;
    max-width: 1200px;
}
img{margin: 0;padding: 0;border-style: none;}

nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo-button{
    border: 0;
    height: 100%;
}
.nav-logo-button--link{
    text-decoration: none;
}
.nav-menu{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
.nav-menu--button{
    padding-right: 10px;
}
.nav-menu--button:nth-last-child(1){
    padding-right: 0px;
}


main{
    margin: auto;
    max-width: 1200px;
}

.home{
    position: relative;
    width: 100%;
    height: 738px;

    text-align: center;
    
}

h1 { 
    width: 1200px;
    height: 136px;

    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 85%;
    /* identical to box height, or 136px */
    text-align: center;
    letter-spacing: -0.05em;

}
.weapper_img{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}
.main-img{
    padding-top: 4px;
    
}

.bg-block{ 
    width: 100%; 
    height: 362px; 
    border-radius: 30px;
    background-color: #8E9C78;

    position: absolute;
    bottom: 5px;
    z-index: 1;
}
