body {
    background-color: #ECECEC;
    padding: 0;
    margin: 0;
}
header{
    margin: auto;
    max-width: 1200px;
}

nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo-button{
    border: 0;
    height: 100%;
}
.nav-logo-button--link{
    text-decoration: none;
}
.nav-menu{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
.nav-menu--button{
    padding-right: 10px;
}
.nav-menu--button:nth-last-child(1){
    padding-right: 0px;
}
main{
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

h1 {
    margin: 0;
    /* text-align: center; */
}
.weapper_img{
}
.main-im{
}

